.rw-sentence{
    margin: 0;
    text-align: left;
    margin-left: 35%;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    font-family: Lobster, monospace;
}

.rw-sentence span{
    color: #fff;
    white-space: nowrap;
    font-size: 200%;
    font-weight: normal;
}

.rw-words{
    display: inline;
    text-indent: 10px;
}

.rw-words span{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    width: 50%;
    color: #F7CAC9;
}

.rw-words-1 span{
    animation: rotateWords 18s linear infinite 0s;
}

.rw-words span:nth-child(2) { 
    animation-delay: 3s; 
    color: #e8ccd7;
}
.rw-words span:nth-child(3) { 
    animation-delay: 6s; 
    color: #dbb2d1; 
}
.rw-words span:nth-child(4) { 
    animation-delay: 9s; 
    color: #8d6b9d;
}
.rw-words span:nth-child(5) { 
    animation-delay: 12s; 
    color: #9b6b9d;
}
.rw-words span:nth-child(6) {  
    animation-delay: 15s; 
    color: #5F4B8B;
}

@keyframes rotateWords {
    0% { opacity: 0; width: 0; }
    10% { opacity: 0.3; width: 0; }
    20% { opacity: 1; width: 50%; }
    27% { opacity: 0; width: 50%; }
    100% { opacity: 0; }
}

/* ############################ Timeline ######################################## */
section#timeline {
  width: 80%;
  margin: 40px auto;
  position: relative;
}
section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(146,168,209,0.7);
}
section#timeline article {
  border-color: #000;
  position: relative;
}
section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
section#timeline article div.time {
  width: 40%;
  float: left;
  border-radius: 6px;
}
section#timeline article div.time span.date {
  display: block;
  width: 60px;
  height: 60px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: rgb(146,168,209);
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 0 0 7px rgb(146,168,209);
}
section#timeline article div.time span.date span {
  display: block;
  text-align: center;
}
section#timeline article div.time span.date span.day {
  font-size: 10px;
}
section#timeline article div.time span.date span.month {
  font-size: 18px;
}
section#timeline article div.time span.date span.year {
  font-size: 10px;
}

.activeYear{
  background:#ED473B; 
  color:#fff;
  border-color:#fff;
}

section#timeline article div.time h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
section#timeline article div.time h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
    width: 10px; 
    height: 10px;
  -webkit-transform: rotate(-45deg);
}
section#timeline article div.time p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  border: 1px solid rgb(146,168,209);
  color: #656565;
  border-radius: 0 0 6px 6px;
}
section#timeline article:nth-child(2n+2) div.time {
  float: right;
}
section#timeline article:nth-child(2n+2) div.time h2:after {
  left: -5px;
}
section#timeline article div.time h2 {
  background: rgb(146,168,209);
}
section#timeline article div.time h2:after {
  background: rgb(146,168,209);
}

/* ############################ Media Gallery ######################################## */
img {
  width: 100%;
  height: 320px;
}

.container {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 80px; 
}
.img-grid {
    margin-left: 100px;
}

@media screen and (max-width: 980px) {
  .container {
    padding-right: 25px;
    padding-left: 25px; 
  } 
  .img-grid {
    margin-left: 25px;
  }
}

.section-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 25px; 
  color: #5F4B8B;
}

li {
  display: inline-block; 
  padding: 0px 50px 0px;
}

#filter-btn {
  margin-bottom: 30px; 
}
#filter-btn ul {
  text-align: center; 
}
#filter-btn li {
  padding-right: 20px; 
}

#filter-btn .button {
  font-size: 15px;
  text-transform: uppercase;
  border: 1px #a3a3a3 solid;
  padding: 10px 50px 10px 50px;
  border-radius: 25px;
  background: none;
  cursor: pointer;
  margin: 0 auto;
  font-weight: bolder;
  border-color: #F7CAC9;
  color: #F7CAC9;
  text-align: center;
  transition: all 0.3s ease-in-out;

}
#filter-btn .button:hover {
  color: #fff !important;
  border-color: #5F4B8B;
  background: #5F4B8B; 
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.is-checked {
  color: #5F4B8B !important; 
}

.img-container {
  position: relative;
  width: 28%;
  margin: 20px;
  height: 320px;
  cursor: pointer; 
}
.img-container img {
  border-radius: 10px; 
}

.img-overlay {
  position: absolute;
  width: 100%;
  height: 320px;
  top: 0;
  left: 0;
  background: rgba(146,168,209,0.5);
  border-radius: 10px;
  outline: 1px solid #fff;
  outline-offset: -15px;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: 0; 
}
.img-overlay:hover {
  opacity: 1; 
}

.img-overlay-text {
  position: inherit;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center; }
.img-overlay-text h3 {
  margin: 0; 
}
.img-overlay-text p {
  color: #fff; 
}

@media(max-width: 980px){
  #filter-btn .button {
    padding: 10px 10px;
  }
}
